@font-face {
    font-family: 'ballpark';
    font-style: normal;
    font-weight: 400;
    src: local('ballpark'),
         url(../polices/ballpark.eot) format('embedded-opentype'),
         url(../polices/ballpark.ttf) format('truetype'),
         url(../polices/ballpark.woff) format('woff');
}
@font-face {
    font-family: 'dayrom';
    font-style: normal;
    font-weight: 400;
    src: local('dayrom'),
         url(../polices/dayrom.eot) format('embedded-opentype'),
         url(../polices/dayrom.ttf) format('truetype'),
         url(../polices/dayrom.woff) format('woff');
}

*{
    margin: 0;
    padding: 0;
}

#contenedor{
    margin:auto;
    max-width: 950px;
    background-color: lemonchiffon;
    padding: 10px;
}

header, #carrucel, footer{
    width:100%;
    
}

h1{
    font-family: dayrom;
}

h2{
    font-family: dayrom;
}

#main_title{
    display: inline-block;
    width: 20%;
}

header nav{
   display: inline-block; 
   width: 700px;
   text-align: right;
}

header nav ul li{
    display: inline-block;
    text-transform: uppercase;
}

header nav a{
    text-decoration: none;
}

#news{
    pading-top: 20px;
}

article{
    display: inline-block;
    width: 70%;
}

aside{
    float: right;    
    width: 27%;
    height: 100%;
}

#tweet, #my_pictures, #my_friends{
    margin-top: 10px;
    float: left;
    width: 30%;
}

#my_friends ul{
    display: inline-block;
    list-style: none;
    margin-right: 10px;
}